.red {
  background-color: #ff3300;
}

.green {
  background-color: #33cc33;
}

.blue {
  background-color: #0066cc;
}

.purple {
  background-color: #6600cc;
}

.pink {
  background-color: #ff99ff;
}

.yellow {
  background-color: #ffff66;
}

.orange {
  background-color: #ff9900;
}

.brown {
  background-color: #996633;
}

.gray {
  background-color: #999999;
}

.black {
  background-color: #000000;
}

.LimeGreen {
  background-color: #32cd32;
}

.Maroon {
  background-color: #800000;
}

.MediumOrchid {
  background-color: #ba55d3;
}

.MediumSeaGreen {
  background-color: #3cb371;
}

.PaleVioletRed {
  background-color: #eee8aa;
}

.PowderBlue {
  background-color: #b0e036;
}
div#controls{
  display: inline-block;
  /*background-color: red;*/
  height: 325px;
  width: 125px;
}

div#artboard {
  display: inline-block;
  /*background-color: blue;*/
}
/*artboard grid*/
div.grid{
  width: 500px;
  /*height: 5px;*/
  /*background-color: red;*/
  /*border: 2px solid red;*/
  display: inline-block;
  padding: 0;
}

div.row{
/*  width: 25px;
  height: 25px;*/
  /*background-color: pink;*/
  /*border: 2px solid orange;*/
  display: inline-block;
  margin: 0;
  padding: 0;
}

div.square{
  width: 35px;
  height: 35px;
  /*background-color: blue;*/
  border: 1px solid black;
  display: inline-block;
  margin: 0;
}

/*controls grid*/
div.rainbow{
  /*background-color: red;*/
  width: 100px;
  display: inline-block;
  padding: 25px;
  /*height: 300px;*/
}

div.row{
  display: inline-block;
  margin: 0;
  padding: 0;
}

div.block{
  /*background-color: blue;*/
  height: 35px;
  width: 35px;
  border: 1px solid black;
  display: inline-block;
  margin: 0;
}

